.visual {

}
.visual .swiper-slide
{
  justify-content: center;
  align-content: center;
}
.visual .visual1 {
  background-image: url("../images/visual-background-img1.jpg");
  background-position: center;
  background-size: 1500px;
  background-repeat: no-repeat;
  opacity: 0.7;
  width: 1500px;
  height: 646px;
  margin : 0 auto;
  margin-top: 80px;
  position: relative;
}
.visual .visual2{
  background-image: url("../images/visual-background-img2.jpg");
  background-position: center;
  background-size: 1500px;
  background-repeat: no-repeat;
  opacity: 0.7;
  width: 1500px;
  height: 646px;
  margin : 0 auto;
  margin-top: 80px;
  position: relative;
}
.visual .visual3{
  background-image: url("../images/visual-background-img3.jpg");
  background-position: center;
  background-size: 1500px;
  background-repeat: no-repeat;
  opacity: 0.7;
  width: 1500px;
  height: 646px;
  margin : 0 auto;
  margin-top: 80px;
  position: relative;
}


.visual .text1 {
  position: absolute;
  margin-top: 100px;
  font-size: 50px;
  top: 0;    
  text-shadow: 2px 1px rgb(100, 100, 100);
  margin-left : 50px;
  font-family: 'Gowun Dodum', sans-serif;
  color: white;
  
}

.visual .text2 {
  position: absolute;
  margin-top: 180px;
  font-size: 50px;
  text-shadow: 2px 1px rgb(100, 100, 100);
  margin-left : 50px;
  color: white;
  font-family: 'Gowun Dodum', sans-serif;
}