body {
  color : #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;

}
.inner{
  width: 1100px;
  margin: 0 auto;
  /* inner 부분을 가운데 몰아서 가운데 정렬하겠다.*/
  position: relative;
}

a{
  text-decoration: none;
}
header{
  width: 100%;
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  position: fixed;
  top : 0;
  z-index: 9;
  text-align: center;
}

header > .inner{
  height: 80px;
}

header .logo{
  width : 100px;
  height: 40px;
  position: absolute; /* 부모요소 기준으로 작성하겠다.*/
  top : 0;
  bottom : 0;
  left : 0;
  right : 0;
  margin: auto 0;
  font-size: 25px;
  font-style: italic;
}

header .menu{
  position: absolute;

  display : flex;
  justify-content: center;
  margin-top : 30px;
  margin-left: 450px;
  
}

header .signin {
  position: absolute;
  top : 10px;
  right : 5px;
  display: flex;
}

header .menu a{
  cursor: pointer;
  position: relative;
  transition : .5s;
  margin-left: 60px;
}
header .menu a:hover {
  font-size: 18px;
  transition : .5s;
}

header .menu a:nth-child(1){
  margin-left:0;
}

.visual {
  margin-top: 80px;
  background-image: url("./images/visual-background-img1.jpg");
  background-position: center;
  background-size: 1500px;
  background-repeat: no-repeat;
  opacity : 0.7;
}
.visual .inner{
  height: 646px;
}

.visual .inner .text1 {
  position: absolute;
  margin-top: 100px;
  font-size: 50px;
  font-family: 'Gowun Dodum', sans-serif;
  color:white;
}
.visual .inner .text2 {
  position: absolute;
  margin-top: 180px;
  font-size: 50px;
  color:white;
  font-family: 'Gowun Dodum', sans-serif;
}

